a.title { text-decoration: none; color: cadetblue;}
a.title:visited { text-decoration: none; }
a.title:hover { text-decoration: none; }
a.title:focus { text-decoration: none; }
a.title:hover, a.title:active { text-decoration: none;}


h1.title {
    font-size: 70px;
    text-shadow: -4px 0 #000, 0 4px #000, 4px 0 #000, 0 -4px #000;
    color: cadetblue;
    opacity: 0.9;
}

h2.head {
    font-size: 50px;
    margin-left: 20px;
    transform: translate(0px, 0px);
    background-color: rgba(126, 230, 171, 0.3);
    text-shadow: 3px 3px 3px rgba(214, 62, 161, 0.3);
    
}

h3.head {
    font-size: 35px;
    margin-left: 20px;
    transform: translate(0px, 0px);
    background-color: rgba(126, 230, 171, 0.3);
    text-shadow: 3px 3px 3px rgba(214, 62, 161, 0.3);
    
}

h4.head {
    margin-left: 20px;
    font-size: 28px;
}

.text {
    background-color: rgba(255, 228, 196, 0.3);
    font-size: 20px;
    margin-left: 15px;
    width: 1000px;
    
}

.topbutton { text-decoration: none; color: black; opacity: 0.2;}
.topbutton:visited { text-decoration: none; }
.topbutton:hover { text-decoration: none; }
.topbutton:focus { text-decoration: none; }
.topbutton:hover, .topbutton:active { text-decoration: none; opacity: 0.7;}

.topbutton {
    position:fixed;
    width: 25px;
    height: 25px;
    background-color: bisque;
    border-style: double;
    right: 30px;
    bottom: 70px;
    clear: both;
}

.blank {
    
    visibility: hidden;
    border: 1px solid red;
}


a.href { text-decoration: none; color: darkred; font-size: 25px;}
a.href:visited { text-decoration: none; }
a.href:hover { text-decoration: none; }
a.href:focus { text-decoration: none; }
a.href:hover, a.href:active { text-decoration: none; }

