h1.title {
    font-size: 70px;
    text-shadow: -4px 0 #000, 0 4px #000, 4px 0 #000, 0 -4px #000;
    color: cadetblue;
    opacity: 0.7;
    
    
}

.topbutton {
    position:absolute;
    width: 30px;
    height: 30px;
    background-color: bisque;
    border-style: double;
    margin-left: 90%;
    
    margin-top: 80%;
    clear: both;

}

h2.head {
    font-size: 50px;
    margin-left: 20px;
}

.text {
    font-size: 20px;
    margin-left: 15px;
}
